<article class="post">
    <div class="title">
        <a href="/post/{{id}}" target="_blank">{{title}}</a>
        <span>({{format_date created_at}}) by {{user.username}}</span>
        <p>{{post_content}}</p>
    </div>
</article>